.brands_block {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: black;
}