.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    position: relative;
    margin-top: 150px;
    .main_footer {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;
        display: grid;
        grid-template-columns: 2fr repeat(4, 1fr);
        grid-template-rows: 3fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: #F0F0F0;
    }

    .form_footer {
        background-color: black;
        color: white;
        width: 82%;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 36px;
        padding-left: 64px;
        padding-right: 64px;
        justify-content: space-around;
        align-items: center;
        justify-items: end;
        z-index: 100;
        position: absolute;
        bottom: 325px;
        .form_uptodate {
            >div {
                background-color: white;
                margin-bottom: 15px;
                width: 349px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding-top: 12px;
                padding-bottom: 12px;
                border-radius: 62px;

                >input{
                    width: 80%;
                    background-color: white;
                    border: 0;
                    font-size: 16px;
                    outline: none;
                    color: #000;
                }
            }

            >button {
                width: 349px;
                background-color: white;
                border: 0;
                padding: 0;
                border-radius: 62px;
                cursor: pointer;
                >p{
                    font-size: 16px;
                    color: #000;
                    margin: 12px;
                }
            }
        }
    }
}

