.dropdown_block{
    border-radius: 8px;
    >ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
        >li {
            cursor: pointer;
        }
    }
}